<form class="{{ styles.passwordForm }}">
  <div class="{{ styles.inputsWrapper }}">
    {{{ oldPasswordInput }}}
    {{{ oldPasswordDivider }}}
    {{{ newPasswordInput }}}
    {{{ newPasswordDivider }}}
    {{{ repeatNewPasswordInput }}}
  </div>

  <div class="{{ styles.buttonWrapper }} center">
    {{{ saveButton }}}
  </div>
</form>
