<div class="{{ styles.textMessage }}">
  <div class="{{ styles.content }} text size-9">
    {{ content }}
  </div>
  <time class="{{ styles.time }} text size-13" datetime="{{ fullTime }}">
    {{ time }}
  </time>
</div>
