<link rel="stylesheet" href='/src/modules/elements/avatar/styles/index.scss' />
{{~#if imgSrc }}
  <img
    class="avatar {{~# if size }} --{{ size }} {{ else }} --small {{~/if}} {{~# if edit }} --edit  {{~/if}}"
    src={{ imgSrc }}
    fetchpriority="high"
  />
{{ else }}
  <div class="avatar {{~# if size }} --{{ size }} {{ else }} --small {{~/if}} {{~# if edit }} --edit  {{~/if}} --not-avatar">
    {{~# if edit }}
      <div class="avatar__edit">
        <p class="avatar__edit-text text size-6">Поменять аватар</p>
      </div>
    {{~/if}}
  </div>
{{~/if}}


