<section data-attr="chat" class="{{ styles.chatList }}">
  <div class="{{ styles.linkWrapper }}">
    {{{ link }}}
  </div>
  <div class="{{ styles.searchWrapper }}">
    {{{ search }}}
  </div>
  <div class="{{ styles.listWrapper }}">
    {{#each list}}
      {{{this}}}
    {{/each}}
  </div>
</section>
