<section class="{{ styles.chatList }}">
  <div class="{{ styles.linkWrapper }}">
    {{{ link }}}
  </div>
  <div class="{{ styles.searchWrapper }}">
    {{{ search }}}
  </div>
  {{#each list}}
    {{{this}}}
  {{/each}}
</section>
