{{#if href}}
  <a
    class="{{ styles.button }}
    {{~#if variant 'secondary'}}
      {{ styles.secondary }}
    {{ else if 'tertiary' }}
     {{ styles.tertiary }}
    {{else}}
      {{ styles.tertiary }}
    {{~/if }}

    {{~#if fluid }}
      {{ styles.fluid }}
    {{~/if }}

    {{~#if textAlign 'left'}}
      {{ styles.alignLeft }}
    {{~/if }}"
    href={{ href }}
  >
    <span class="text size-7 {{ class }}">
      {{ text }}
    </span>
  </a>
{{ else }}
  <button
    class="{{ styles.button }}
      {{~#if variant 'secondary'}}
        {{ styles.secondary }}
      {{ else if 'tertiary' }}
       {{ styles.tertiary }}
      {{else}}
        {{ styles.tertiary }}
      {{~/if }}

      {{~#if textAlign 'left'}}
        {{ styles.alignLeft }}
      {{~/if }}"
  >
    <span class="text size-7 {{ class }}">
      {{ text }}
    </span>
  </button>
{{/if}}

