<section class="{{ styles.chat }} container">
  <div class="{{ styles.chatWrapper }} row">
   <section class="{{ styles.chatList }} col xl-2 lg-3">
     {{{ chatList }}}
   </section>
    <section class="{{ styles.chatDialog }} col xl-10 lg-9">
      Chat
    </section>
  </div>
</section>
