<div class="{{ styles.header }}">
  <div class="{{ styles.headerWrapper }}">
    <div class="{{ styles.user }}">
      <div>
        {{{ avatar }}}
      </div>
      <p class="text size-7 font-weight-600">
        {{ name }}
      </p>
    </div>
    <div
      class="{{ styles.hamburger }}"
      role="button"
      aria-label="menu"
      tabindex="0"
    >
    </div>
  </div>
  {{{ divider }}}
</div>
