<form class="{{ styles.avatarForm }} center">
  <div class="{{ styles.buttonWrapper }} center">
    {{{ chooseFileButton }}}
  </div>
  {{{ avatarInput }}}
  {{{ changeButton }}}
  {{{ error }}}
</form>
