<div class="{{ styles.avatarForm }} center">
  <div class="{{ styles.textWrapper }}">
    <p class="{{ styles.text }} text size-8 font-weight-500">Выбрать файл на компьютере</p>
  </div>
  {{{ avatarInput }}}
  {{{ changeButton }}}
</div>
