<section class="{{ styles.modal }}">
  <div class="{{ styles.dialog }}">
    <h3 class="{{ styles.title }} text size-4 font-weight-500">{{ title }}</h3>
    <div class="{{ styles.content }}">
      {{{ content }}}
    </div>
  </div>
</section>
