<div class="{{ styles.profile }} container">
  <div class="row">
    <div class="col xl-auto lg-auto">
      <aside class="{{ styles.nav }}">
        <button class="{{ styles.back }} "/>
      </aside>
    </div>
    <div class="col">
      <section class="{{ styles.info }} center">
       <div class="{{ styles.avatarAndName }}">
         <div class="{{ styles.avatar }}">
           {{{ avatar }}}
         </div>
         <div class="{{ styles.name }}">
           <p class="text size-3 font-weight-600">Иван</p>
         </div>
       </div>
        <div class="{{ styles.questionnaire }}">
          {{! elements/staticQuestionnaire/staticQuestionnaire list=staticProfileInfoQuestionnaire }}
        </div>
      </section>

        <section class="{{ styles.actions }} center">
          <ul>
            {{!>elements/listItem/listItem noPadding=true}}
              {{!*inline "content"}}
                {{! elements/button/button text="Изменить данные" type="secondary" textAlign="left"  fluid=true}}
              {{!inline}}
            {{!elements/listItem/listItem}}
            {{!>elements/listItem/listItem noPadding=true}}
              {{!*inline "content"}}
                {{! elements/button/button text="Изменить пароль" type="secondary" textAlign="left"  fluid=true}}
              {{!inline}}
            {{!elements/listItem/listItem}}
            {{!>elements/listItem/listItem noPadding=true last=true }}
              {{!*inline "content"}}
                {{! elements/button/button text="Выйти" type="tertiary" textAlign="left" fluid=true}}
              {{!inline}}
            {{!elements/listItem/listItem}}
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
