<div class="
    {{ styles.input }}
    {{~#if horizontal }}
      {{ styles.horizontal }}
    {{else}}
      {{ styles.vertical }}
    {{/if }}
    {{#if hidden }}
      {{ styles.hidden }}
    {{/if }}
  " >
  <label
    htmlFor="{{ id }}"
    class="
      {{ styles.label }}
      text
      {{#if horizontal }}
        size-7
      {{ else }}
        size-14
      {{/if}}
      font-weight-500
    "
  >
    {{ label }}
  </label>
  <input
      class="
        {{ styles.field }}
        {{#if validation.error }}
          {{ styles.error }}
        {{/if }}
        text
        size-7
      "
      type="{{ htmlType }}"
      name="{{ name }}"
      id="{{ id }}"
      value="{{ value }}"
  />
  {{#if validation.message }}
    <p class="
      {{ styles.errorMessage }}
      text
      size-15
     "
    >
      {{  validation.message }}
    </p>
  {{/if }}
</div>
