<form onsubmit="" class="{{ styles.authForm }} center">
  <fieldset class="{{ styles.fieldset }}">
    <legend class="{{ styles.legend }} text font-weight-500 size-2">Вход</legend>
    <div class="{{ styles.fieldsWrapper }}">
      <div>
        {{{ loginInput }}}
      </div>
      <div>
        {{{ passwordInput }}}
      </div>
    </div>
    <div>
      {{{ loginButton }}}
    </div>
    {{{ registerButton }}}
  </fieldset>
</form>
