<div class="{{ styles.profileEdit }} container">
  <div class="row">
    <div class="col xl-auto lg-auto">
      <aside class="{{ styles.nav }}">
        <button class="{{ styles.back }} "/>
      </aside>
    </div>
    <div class="col">
      <section class="{{ styles.info }} center">
        <div class="{{ styles.avatarAndName }}">
          <div class="{{ styles.avatar }}">
            {{{ avatar }}}
          </div>
          <div class="{{ styles.name }}">
            <p class="text size-3 font-weight-600">Иван</p>
          </div>
        </div>
        <div class="{{ styles.questionnaire }}">
          {{{ profileInfoForm }}}
        </div>
      </section>
    </div>
  </div>
  {{{ changeAvatarModal }}}
</div>

