<div class={{ styles.errorBox }}>
  <h1 class="{{ styles.title }} text size-1 font-weight-500 center">
    {{ code }}
  </h1>
  <p class="{{ styles.text }} text size-2 font-weight-500 center">
    {{ text }}
  </p>
  {{{ button }}}
</div>
