<div class="{{ styles.search }}" >
  <input
    class="
      {{ styles.field }}
      text
      size-10
    "
    name="{{ name }}"
    id="{{ id }}"
    value="{{ value }}"
    tabindex="0"
    placeholder="{{ placeholder }}"
  />
</div>
