<div class="{{ styles.chatItem }}" role="button" tabindex="0">
  <div class="{{ styles.content }}">
    <div>
      {{{ avatar }}}
    </div>
   <div  class="{{ styles.info }}">
     <div class="{{ styles.infoWrapper }}">
       <h4 class="{{ styles.title }} text size-7">
         {{ title }}
       </h4>
       <time class="{{ styles.time }} text size-13" datetime="{{ fullTime }}">
         {{ lastMessage.time }}
       </time>
     </div>
     <div class="{{ styles.subtitle }}">
       <div class="{{ styles.lastMessage }} text size-9">
         {{ lastMessage.content }}
       </div>
       {{#if unreadCount}}
         <p class="{{ styles.counter }} text size-11">
           {{ unreadCount }}
         </p>
       {{/if}}
     </div>
   </div>
  </div>
  <div class="{{ styles.dividerWrapper }}">
    {{{ divider }}}
  </div>
</div>
