<form class="{{ styles.registrationForm }} center">
  <fieldset class="{{ styles.fieldset }}">
    <legend class="{{ styles.legend }} text font-weight-500 size-2">Регистрация</legend>
    <div class="{{ styles.fieldsWrapper }}">
      <div>
        {{{ emailInput }}}
      </div>
      <div>
        {{{ loginInput }}}
      </div>
      <div>
        {{{ firstNameInput }}}
      </div>
      <div>
        {{{ secondNameInput }}}
      </div>
      <div>
        {{{ phoneInput }}}
      </div>
      <div>
        {{{ passwordInput }}}
      </div>
      <div>
        {{{ passwordCopyInput }}}
      </div>
    </div>
    <div class="{{ styles.buttonWrapper }}">
      {{{ registerButton }}}
    </div>
    {{{ loginButton }}}
  </fieldset>
</form>
