<link rel="stylesheet" href={{ absolute '/src/modules/elements/input/styles/index.scss' }} type="text/css" />
<div class="input" >
  <label htmlFor="{{ id }}" class="input__label text size-6 font-weight-500">
    {{ label }}
  </label>
  <input class="input__field {{ class }}" type="{{ type }}" name="{{ login }}" id="{{ id }}" value="{{ value }}"/>
</div>
