<nav class={{ styles.nav }}>
  <ul class={{ styles.list }}>
    <li class={{ styles.listItem }}>
      <a href={{ routes.signIn.path }}>Авторизация</a >
    </li>
    <li class={{ styles.listItem }}>
      <a href={{ routes.signUp.path }}>Регистрация</a>
    </li>
    <li class={{ styles.listItem }}>
      <a href={{ routes.chat.path }}>Чат</a>
    </li>
    <li class={{ styles.listItem }}>
      <a href={{ routes.notFound.path }}>404</a>
    </li>
    <li class={{ styles.listItem }}>
      <a href={{ routes.internalError.path }}>500</a>
    </li>
    <li class={{ styles.listItem }}>
      <a href={{ routes.profile.path }}>Профиль</a>
    </li>
    <li class={{ styles.listItem }}>
      <a href={{ routes.profileEdit.path }}>Редактирование профиля</a>
    </li>
    <li class={{ styles.listItem }}>
      <a href={{ routes.profileEditPassword.path }}>Изменения пароля</a>
    </li>
  </ul>
</nav>
