<a href={{ routes.singIn }}>Sing in</a >
<a href={{ routes.singUp }}>Sing up</a>
<a href={{ routes.chat }}>Chat</a>
<a href={{ routes.notFound }}>404</a>
<a href={{ routes.internalError }}>500</a>
<a href={{ routes.profile }}>Profile</a>
<a href={{ routes.profileEdit }}>Edit profile</a>
