<div class="{{ styles.profileInfoForm }}">
  {{{ emailInput }}}
  {{{ emailDivider }}}
  {{{ loginInput }}}
  {{{ loginDivider }}}
  {{{ firstNameInput }}}
  {{{ firstNameDivider }}}
  {{{ secondNameInput }}}
  {{{ secondNameDivider }}}
  {{{ phoneInput }}}
  {{log styles}}
</div>
